@font-face {
    font-family: 'belligerent';
    src: url('../teddies/fonts/belligerent-webfont.woff2') format('woff2'),
         url('../teddies/fonts/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.card{
    width: 50%;
}
body{
    background-color: rgb(39, 21, 24);
}

/*style page produit*/

