@font-face {
    font-family: 'belligerent';
    src: url('../../fonts/belligerent-webfont.woff2') format('woff2'),
         url('../../fonts/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'baloo';
    src: url('../../fonts/baloo-regular-webfont.woff2') format('woff2'),
         url('../../fonts/baloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*--------------------partie Head------------------*/

#navid{
    padding: 0;
}
a.navbar-brand{
    width:50%;
}
.logosize{
    width:35%;
}
.container-fluid{
    background-color:#f3e9f1 ;
}
/*-------------------body font---------------*/

body{
    background-color: #f3e9f1;
    padding:1%;
    font-family: 'baloo';
}
/*---------------------page index------------*/
.titre-index{
    text-align: center;
}
.container-card{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-index{
    width:30%;
    margin:1%;
    border-radius:8%;
    box-shadow: 10px 10px 40px rgb(177, 177, 177);
}
.card-img-top{
    height:100%;
    border-radius: 8% 8% 0% 0%;
    
}
.card-body{
    padding-left: 5%;
}
/*---------------------Page produit---------------*/
.container-card{
    display: flex;
    /*flex-wrap: nowrap;*/
}
.img-produit{
    width: 100%;
}
.imgpart{
    width:50%;
}
/*Page Panier*/
.enseigne,h5{
    font-family:'belligerent';
    color:black;
}
.titre-panier{
    width:90%;
    margin: 5%;
    border-bottom: 5px solid #935df2;
    text-align: center;
}
.titre-partie-panier{
    width:50%;
    margin:3%;
}
.partie-panier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ligne-panier{
    display: flex;
    justify-content: space-between;
    border:2px solid grey;
    width:90%;
    margin:4%;
    border:2px solid grey;
}
.ol-contenant{
    width:50%;
}

.conteneur-principal{
    display:flex;
    justify-content: space-around;
}
.partie-panier{
    border: 2px solid #e78b06;
}

/*------------page valider---------*/
.section-page-valider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-page-valider{
    background-color:antiquewhite;
    width:90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}



